# 1. Manipulate using a List

In [1]:
lst=[4,99,34.44,'python']
lst

[4, 99, 34.44, 'python']

In [8]:
lst.append('programming')
lst

[4, 99, 34.44, 'python', 'programming']

In [9]:
lst[::-1]

['programming', 'python', 34.44, 99, 4]

In [17]:
lst

['programming', 'python', 34.44, 99, 4]

In [65]:
lst=[20,30,40,50,10]
n=3
for n in range(3):
  print(lst)

[20, 30, 40, 50, 10]
[20, 30, 40, 50, 10]
[20, 30, 40, 50, 10]

In [29]:
l1=[10,20,30]
l2=[70,80,90,100]
con=l1+l2
print(con)

[10, 20, 30, 70, 80, 90, 100]

In [30]:
l1

[10, 20, 30]

In [33]:
lst=[32,24,56,22,78,34]
lst.sort()
print(lst)

[22, 24, 32, 34, 56, 78]

# 2. python programme to do in tuples

In [35]:
tuple=[24,56.44,'batch']
tuple

[24, 56.44, 'batch']

In [38]:
tuple[::-1]

['batch', 56.44, 24]

In [66]:
n=3
for n in range(3):
    print(tuple)

[24, 56.44, 'batch']
[24, 56.44, 'batch']
[24, 56.44, 'batch']

In [41]:
tuple1=[23,34.54,'batch']
tuple2=[34,76,98,65,'AIML']
con=tuple1+tuple2
print(con)

[23, 34.54, 'batch', 34, 76, 98, 65, 'AIML']

In [48]:
tup=[100,23,54,21,200,77]
tup.sort()
print(tup)

[21, 23, 54, 77, 100, 200]

# 3. python programming to implement the following using list

In [49]:
lst=[76,45,86,99,34,54,79,10,19,88]
lst[-1]

88

In [50]:
lst[0:4]

[76, 45, 86, 99]

In [51]:
lst[2:]

[86, 99, 34, 54, 79, 10, 19, 88]

In [52]:
lst[:6]

[76, 45, 86, 99, 34, 54]

# 4. python programme in tuple1=[10,50,20,40,30]

In [53]:
tuple1=[10,50,20,40,30]
tuple1[:2]

[10, 50]

In [55]:
len(tuple1)

5

In [56]:
min(tuple1)

10

In [58]:
sum(tuple1)

150

In [59]:
tuple1*3

[10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30]

In [62]:
tuple1=[10,50,20,40,30]
n=3
for n in range(n):
    print(tuple1)

[10, 50, 20, 40, 30]
[10, 50, 20, 40, 30]
[10, 50, 20, 40, 30]

# 5. length of the string

In [81]:
str=['programming','python','c','java','oops']
len(str)

5

# reverse a word in a string

In [82]:
str[::-1]

['oops', 'java', 'c', 'python', 'programming']

# same string multiple times

In [83]:
n=3
for n in range(3):
    print(str)

['programming', 'python', 'c', 'java', 'oops']
['programming', 'python', 'c', 'java', 'oops']
['programming', 'python', 'c', 'java', 'oops']

In [100]:
str1='python'
str2=' programming'
con=str1 + str2
print(con)

python programming

In [102]:
str1="South India"
str1[6:]

'India'

# 7.Insert a number to any position in the list

In [21]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst.insert(3,30)
lst

[1, 2, 3, 30, 4, 5, 6, 7, 8, 9, 10]

# 8. delete a element from a list by index

In [36]:
lst=[1,2,3,4,5,6]
i=2
if 0 <= i < len(lst):
    del lst[i]
else:
    print ("index out of range")
lst

[1, 2, 4, 5, 6]

In [60]:
lst=[1,2,3,4,5]
i=2
del lst[i]
lst

[1, 2, 4, 5]

# 9. display a number from 1 to 100

In [5]:
lst=[i for i in range(1,101)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# 10.sum of all items in the tuple

In [48]:
tuple=(34,45,57,43,85)
t=sum(tuple)
print("sum of tuple is:",t)

sum of tuple is: 264

# 6. Dictionary

In [61]:
detail={'name':'Balaji','age':35,'city':'chennai','emp_id':11111}
detail

{'name': 'Balaji', 'age': 35, 'city': 'chennai', 'emp_id': 11111}

In [62]:
detail.values()

dict_values(['Balaji', 35, 'chennai', 11111])

In [63]:
detail.keys()

dict_keys(['name', 'age', 'city', 'emp_id'])

In [67]:
detail.pop('emp_id')

11111

In [68]:
detail

{'name': 'Balaji', 'age': 35, 'city': 'chennai'}

In [69]:
detail.update({'emp_id':11111})
detail

{'name': 'Balaji', 'age': 35, 'city': 'chennai', 'emp_id': 11111}

# 11.Lambda function

In [3]:
import math

# Create a dictionary with lambda functions
calculate = {
    "Square": lambda x: x**2,
    "Cube": lambda x: x**3,
    "Squareroot": lambda x: math.sqrt(x)
}

# Test the functions
number = int(input("Enter a number: "))
sq_res = calculate["Square"](number)
cb_res = calculate["Cube"](number)
sqrt_res = calculate["Squareroot"](number)

# Print the results
print(f"Square of {number} is {sq_res}")
print(f"Cube of {number} is {cb_res}")
print(f"Squareroot of {number} is {sqrt_res}")

Enter a number: 56
Square of 56 is 3136
Cube of 56 is 175616
Squareroot of 56 is 7.483314773547883

# 12.Find the words from the list that have their second character in uppercase

In [4]:
ls = ["hello", "Dear", "hOw", "ARe", "You"]
res = []
for i in ls:
    if i[1].isupper():
        res.append(i)
print(res)

['hOw', 'ARe']

# 13.Weight of people on the moon

In [2]:
# Define the dictionary with names and their weights on Earth
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

# Constants
GMoon = 1.622
GEarth = 9.81

# Use map and lambda to calculate the weight on the Moon for each person
WeightOnMoon = map(lambda weight: weight * GMoon / GEarth, WeightOnEarth.values())

# Create a dictionary with names and their weights on the Moon
WeightOnMoonDict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))

print("Weight of people on the Moon:")
print(WeightOnMoonDict)

Weight of people on the Moon:
{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

#                                  Control structures

# 5. sum of odd numbers and even numbers between 12 and 37

In [75]:
odd=0
even=0
for i in range(12,38):
    if i%2==0:
        even+=i
    else:
        odd+=i
print("sum of even numbers:",even)
print("sum of odd numbers:",odd)

sum of even numbers: 312
sum of odd numbers: 325

# 6. to print the table of any number

In [86]:
number=int(input("enter the number to print the tables for:"))
print ("the multiplication table of:",number) 
for i in range(1,11):
    print(number,'x',i,'=',number*i)

enter the number to print the tables for:5
the multiplication table of: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 1. to find the first N prime numbers

In [1]:
# Python Program to find first n prime numbers
from math import sqrt
 
num = int(input("Enter a number: "))
count = 0
n = 2
 
print("First", num, "prime numbers are: ")
while count < num:
    prime_flag = True
     
    for i in range(2, int(sqrt(n)) + 1):
        if (n % i) == 0:
            prime_flag = False
            break
     
    # check if flag is True
    if prime_flag:
        print(n, end =" ")
        count = count + 1
    n = n + 1

Enter a number: 20
First 20 prime numbers are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71

# 15.Program to determine the eldest and youngest of the three.

In [89]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

# Determine the eldest and youngest
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
    if sam_age <= khan_age:
        youngest = "Sam"
    else:
        youngest = "Khan"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
    if ram_age <= khan_age:
        youngest = "Ram"
    else:
        youngest = "Khan"
else:
    eldest = "Khan"
    if ram_age <= sam_age:
        youngest = "Ram"
    else:
        youngest = "Sam"

# Print the results
print(f"The eldest among Ram, Sam, and Khan is: {eldest}")
print(f"The youngest among Ram, Sam, and Khan is: {youngest}")

Enter Ram's age: 25
Enter Sam's age: 35
Enter Khan's age: 45
The eldest among Ram, Sam, and Khan is: Khan
The youngest among Ram, Sam, and Khan is: Ram

# 14.Days in each school year

In [90]:
days_in_each_school_year = 192

# Years 7 to 11
years = range(7, 12)

# Calculate the total hours spent in school
total_hours = sum(year * days_in_each_school_year * 6 for year in years)

print(f"Total hours spent in school from year 7 to year 11: {total_hours} hours")

Total hours spent in school from year 7 to year 11: 51840 hours

# 16.Rotate a list by right n times

In [93]:
def rotate_list_using_slicing(input_list, n):
    if len(input_list) == 0:
        return input_list

    n %= len(input_list)  # Ensure n is within the length of the list
    rotated_list = input_list[-n:] + input_list[:-n]
    return rotated_list

# Input list
my_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))

rotated_list = rotate_list_using_slicing(my_list, n)
print("Rotated list using slicing technique:", rotated_list)

def rotate_list_without_slicing(input_list, n):
    if len(input_list) == 0:
        return input_list

    n %= len(input_list)  # Ensure n is within the length of the list
    for _ in range(n):
        temp = input_list.pop()
        input_list.insert(0, temp)
    return input_list

Enter the number of times to rotate to the right: 7
Rotated list using slicing technique: [4, 5, 1, 2, 3]

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away

In [94]:
speed = 150  # mph
distance = 414  # miles

time = distance / speed

print("The time it takes the train to travel from London to Glasgow is", time, "hours")

The time it takes the train to travel from London to Glasgow is 2.76 hours

# 12.Number of seconds in a year

In [95]:
days_per_year = 365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

total_seconds = days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

print(f"The number of seconds in a year (assuming 365 days) is: {total_seconds} seconds")

The number of seconds in a year (assuming 365 days) is: 31536000 seconds

# 11.Numbers of seconds in a 30 day month

In [96]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

seconds_in_30_days = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute

print(f"There are {seconds_in_30_days} seconds in a 30-day month.")

There are 2592000 seconds in a 30-day month.

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [98]:
def max_min(list1):
  max_num = list1[0]
  min_num = list1[0]
  for num in list1:
    if num > max_num:
      max_num = num
    elif num < min_num:
      min_num = num
  return max_num, min_num

list1 = [56,78,66,98,23,53]
max_num, min_num = max_min(list1)
print("The maximum number is", max_num)
print("The minimum number is", min_num)

The maximum number is 98
The minimum number is 23

# 9.Celsius to Fahrenheit

In [99]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 37
37.0 degrees Celsius is equal to 98.6 degrees Fahrenheit

# 8.Implement arithmetic operation using nested if statement

In [100]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

operation = input("Enter an arithmetic operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed."
else:
    result = "Invalid operation"

print(f"Result: {result}")

Enter the first number: 56
Enter the second number: 66
Enter an arithmetic operation (+, -, *, /): +
Result: 122.0

# 7.Sum of first 10 prime numbers

In [101]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0
number = 2
prime_sum = 0

while count < 10:
    if is_prime(number):
        prime_sum += number
        count += 1
    number += 1

print("The sum of the first 10 prime numbers is:", prime_sum)

The sum of the first 10 prime numbers is: 129

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary

In [7]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))


gross_salary = basic_salary + hra + ta + da

tax = 0.1 * gross_salary
net_salary = gross_salary - tax


print(f"Basic Salary: {basic_salary}")
print(f"HRA: {hra}")
print(f"TA: {ta}")
print(f"DA: {da}")
print(f"Gross Salary: {gross_salary}")
print(f"Tax: {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 30000
Enter HRA: 2000
Enter TA: 1000
Enter DA: 500
Basic Salary: 30000.0
HRA: 2000.0
TA: 1000.0
DA: 500.0
Gross Salary: 33500.0
Tax: 3350.0
Net Salary: 30150.0

# 3. Write a python program to search for a string in the given list.

In [9]:
my_list = ["ramesh", "suresh", "ganesh", "balaji", "kannan", "shiva"]
search_string = input("Enter a string to search for: ")

found = False

for item in my_list:
    if search_string.lower() == item.lower():
        found = True
        break

# Display the result
if found:
    print(f"'{search_string}' was found in the list.")
else:
    print(f"'{search_string}' was not found in the list.")

Enter a string to search for: ganesh
'ganesh' was found in the list.

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and low-case letters

In [10]:
def count_case_letters(input_string):
    uppercase_count = 0
    lowercase_count = 0

    
    for char in input_string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    return uppercase_count, lowercase_count

# Example 
input_string = input("Enter a string: ")
uppercase, lowercase = count_case_letters(input_string)

print(f"Uppercase letters: {uppercase}")
print(f"Lowercase letters: {lowercase}")

Enter a string: Hello all ,Welcome TO Python Session
Uppercase letters: 6
Lowercase letters: 24

# 17.Program to print the pattern

In [11]:
n = int(input("Enter the number of rows: "))

def binomial_coefficient(n, k):
    if k == 0 or k == n:
        return 1
    return binomial_coefficient(n - 1, k - 1) + binomial_coefficient(n - 1, k)

for i in range(n):
    for j in range(i + 1):
        print(binomial_coefficient(i, j), end=" ")
    print()

Enter the number of rows: 7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [15]:
get_ipython().run_line_magic('pinfo', '*')

n = 5  

for i in range(n):
    for j in range(i + 1):
        print("*", end=" ")
    print()  # Move to the next line after each row


3 # Input the number of rows for the pattern
n = int(input("Enter the number of rows: "))

for i in range(1, n + 1):
    print(" " * (n - i), end="")  
    print("* " * i)  


# In[25]:


word = "Python"
for i in range(len(word) + 1):
    print(word[:i])
print("Python program")

*
* *
* * *
* * * *
* * * * *
Enter the number of rows: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

P
Py
Pyt
Pyth
Pytho
Python
Python program